@font-face {
    font-family: 'PingFangSC-ExtraLight';
    src: url('./PingFangSC-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PingFangSC-Light";
    src: url('./PingFangSC-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSC-Regular';
    src: url('./PingFangSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSC-Medium';
    src: url('./PingFangSC-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSC-Bold';
    src: url('./PingFangSC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSC-Heavy';
    src: url('./PingFangSC-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
