@font-face {
    font-family: 'PingFangSC-ExtraLight';
    src: url('./PingFangSC-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "PingFangSC-Light";
    src: url('./PingFangSC-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSC-Regular';
    src: url('./PingFangSC-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSC-Medium';
    src: url('./PingFangSC-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSC-Bold';
    src: url('./PingFangSC-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PingFangSC-Heavy';
    src: url('./PingFangSC-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
